{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Primera Entrega del Proyecto Final</h1>
    <p class="lead">Hola Gustavo, como andas? Este es el proyecto que armamos, una tienda de ropa con secciones de Ropa, Calzado y Accesorios.</p>
    <hr class="my-4">
    <p>Las promociones son hasta agotar stock, validas para Argentina y Uruguay, y el día 30 de frebrero de cada año.</p>
    <a class="btn btn-primary btn-lg" href="/tienda/" role="button">Arrancamos?</a>
  </div>


{% endblock%}