{% extends 'base.html' %}

{% block content %}

{{message}}

<form acction="" method="post">
    {% load humanize %}
    <h1> Los accesorios disponibles son los siguientes: </h1>

    {% for accesorioss in object_list %}

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if accesorioss.accesorio_imagen %}
                <img Src={{accesorioss.accesorio_imagen.url}} width="180" height="180"> {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{accesorioss.accesorio_name}}</h5>
                    <p class="card-text">Es un/ una {{accesorioss.accesorio_tipo}} y es de la marca {{accesorioss.accesorio_marca}}.</p>
                    <a href="/tienda/detalle-accesorios/{{accesorioss.id}}" class="btn btn-primary">Ver Detalle</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <h1>Total de Productos: {{ page_obj.paginator.count }}</h1>

    
{% if is_paginated %} 
  
  <div class ="mt-2">
    <ul class="pagination">

      {% if page_obj.has_previous %}
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          </li>
        
      {% endif %}
        
      {% if page_obj.has_next %}
      <li> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Anterior</a></li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li> <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li> <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
    
      {% if page_obj.has_next %}
      <li> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
      {% endif %}
    
    </ul>
   </div> 

{% endif %}

    {% endblock%}