{% extends 'base.html' %}

{% block content %}

{{message}}

<form acction="" method="post" >
{% load humanize %} 
    <h1> El listado de la ropa es el siguiente: </h1>

    {% for ropaa in list_ropa %}

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if ropaa.ropa_imagen %}
            <img Src={{ropaa.ropa_imagen.url}} width="180" height="180">
            {% endif %}
          </div>
            <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ropaa.ropa_name}}</h5>
              <p class="card-text">Es de color {{ropaa.ropa_color}} y es de la marca {{ropaa.ropa_marca}}.</p>
              <a href="/tienda/detalle-ropa/{{ropaa.id}}" class="btn btn-primary">Ver Detalle</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

{% endblock%}



